<!-- FORMULARIO DE CONTACTO -->
<section id="contacto" class="max-w-3xl mx-auto p-8 text-center">
  <h2 class="text-5xl font-bold mb-6 text-blue-500">Contacto</h2>
  <p
    class="font-semibold mb-6 text-2xl text-gray-300 tracking-wide leading-relaxed"
  >
    Puedes Escribirme o Seguirme En Mis Redes:
  </p>

  <!-- Formulario -->
  <form
    action="https://formspree.io/f/mjkejznk"
    method="POST"
    class="space-y-4 text-left"
  >
    <!-- Nombre -->
    <div>
      <label
        for="nombre"
        class="block text-lg font-medium text-gray-300 tracking-wide"
        >Nombre</label
      >
      <input
        type="text"
        id="nombre"
        name="nombre"
        required
        class="mt-1 w-full px-4 py-2 bg-black/40 border
        border-gray-600 rounded-lg shadow-sm text-gray-200
        placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500
        tracking-wide leading-relaxed"
      />
    </div>

    <!-- Apellido -->
    <div>
      <label
        for="apellido"
        class="block text-lg font-medium text-gray-300 tracking-wide"
        >Apellido</label
      >
      <input
        type="text"
        id="apellido"
        name="apellido"
        required
        class="mt-1 w-full px-4 py-2 bg-black/40 
        border border-gray-600 rounded-lg shadow-sm text-gray-200 
        placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500 
        tracking-wide leading-relaxed"
      />
    </div>
    <!-- Correo -->
    <div>
      <label
        for="email"
        class="block text-lg font-medium text-gray-300 tracking-wide"
        >Correo electrónico</label
      >
      <input
        type="email"
        id="email"
        name="email"
        required
        class="mt-1 w-full px-4 py-2 bg-black/40 border 
        border-gray-600 rounded-lg shadow-sm text-gray-200 
        placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500 
        tracking-wide leading-relaxed"
      />
    </div>

    <!-- Mensaje -->
    <div>
      <label
        for="mensaje"
        class="block text-lg font-medium text-gray-300 tracking-wide"
        >Mensaje</label
      >
      <textarea
        id="mensaje"
        name="mensaje"
        rows="4"
        required
        class="mt-1 w-full px-4 py-2 bg-black/40 border 
        border-gray-600 rounded-lg shadow-lg text-gray-200 
        placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500 
        tracking-wide leading-relaxed"
      ></textarea>
    </div>

    <!-- Botón -->
    <button
      type="submit"
      class="w-full px-6 py-3 bg-gradient-to-r
      from-blue-600 via-purple-600 to-pink-600
      rounded-lg text-xl text-white font-semibold shadow-lg
      hover:shadow-pink-500/50 hover:scale-[1.02] transition-transform"
    >
      Enviar
    </button>
  </form>

  <div class="flex justify-center space-x-6 mt-10">
    <!-- GitHub -->
    <a
      href="https://github.com/LeonardoB2608/"
      target="_blank"
      class="transition transform hover:scale-110"
    >
      <img
        src="/github.gif"
        alt="GitHub"
        class="w-18 h-18 object-contain rounded-full"
      />
    </a>

    <!-- LinkedIn -->
    <a
      href="https://www.linkedin.com/in/jeisson-leonardo-buitrago-5a9189291/"
      target="_blank"
      class="transition transform hover:scale-110"
    >
      <img
        src="/linkedin.gif"
        alt="LinkedIn"
        class="w-18 h-18 object-contain rounded-full"
      />
    </a>

    <!-- WhatsApp -->
    <a
      href="https://wa.me/573153896730"
      target="_blank"
      class="transition transform hover:scale-110"
    >
      <img
        src="/whatsapp.gif"
        alt="WhatsApp"
        class="w-18 h-18 object-contain rounded-full"
      />
    </a>
  </div>
</section>
