<section
  id="inicio"
  class="min-h-screen flex flex-col-reverse lg:flex-row items-center justify-center
         text-center lg:text-left px-4 sm:px-6 lg:px-16 pt-20 sm:pt-24 gap-6 lg:gap-12"
>
  <!-- Columna texto -->
  <div class="flex-1">
    <h2 class="text-4xl sm:text-4xl md:text-5xl font-bold mb-2 sm:mb-4">
      ¡Hola, soy <span class="text-blue-600">Jeisson Leonardo</span>!
    </h2>
    <p class="text-xl sm:text-lg md:text-2xl text-blue-50 font-semibold mt-1 sm:mt-3">
      Ingeniero de Desarrollo Junior 🚀
    </p>
    <a href="#proyectos"
       class="inline-block mt-4 sm:mt-6 md:mt-8
              px-4 sm:px-6 md:px-8 py-2 sm:py-3
              bg-blue-600 text-white text-xl sm:text-lg md:text-xl
              rounded-lg shadow hover:bg-blue-500 transition">
      Ver proyectos
    </a>
  </div>

  <!-- Columna imagen -->
 <div class="flex-1 flex justify-center lg:justify-end mt-8 sm:mt-10 lg:mt-0">
  <img
    src="/img.jpeg" alt="Foto de perfil"
    class="w-40 h-40 sm:w-48 sm:h-48 md:w-56 md:h-56 lg:w-72 lg:h-72
           rounded-full shadow-lg object-cover"
  />
</div>

</section>
