<nav
  class="fixed w-full top-0 left-0 z-50
         bg-black/30 backdrop-blur-lg
         border-b border-cyan-400/30
         shadow-[0_0_15px_rgba(0,255,255,0.4)]
         p-4 flex justify-between items-center
         transition-all duration-500"
>
  <a href="#inicio">
    <h1
      class="text-2xl font-bold text-cyan-400 d
      rop-shadow-[0_0_10px_rgba(0,255,255,0.8)]"
    >
      JL
    </h1>
  </a>

  <ul class="flex space-x-6 text-lg">
    <li>
      <a href="#inicio" class="relative group transition">
        <span class="text-white group-hover:text-cyan-300 transition">
          Inicio
        </span>
        <span
          class="absolute left-0 -bottom-1 w-0 
          h-[2px] bg-gradient-to-r from-cyan-400 to-blue-500 
          transition-all duration-300 group-hover:w-full 
          group-hover:shadow-[0_0_10px_rgba(0,255,255,0.8)]"
        ></span>
      </a>
    </li>
    <li>
      <a href="#sobre-mi" class="relative group transition">
        <span class="text-white group-hover:text-cyan-300 transition">
          Sobre mí
        </span>
        <span
          class="absolute left-0 -bottom-1 w-0 h-[2px]
           bg-gradient-to-r from-cyan-400 to-blue-500 
           transition-all duration-300 group-hover:w-full 
           group-hover:shadow-[0_0_10px_rgba(0,255,255,0.8)]"
        ></span>
      </a>
    </li>
    <li>
      <a href="#proyectos" class="relative group transition">
        <span class="text-white group-hover:text-cyan-300 transition">
          Proyectos
        </span>
        <span
          class="absolute left-0 -bottom-1 w-0 h-[2px] 
          bg-gradient-to-r from-cyan-400 to-blue-500 
          ransition-all duration-300 group-hover:w-full 
          group-hover:shadow-[0_0_10px_rgba(0,255,255,0.8)]"
        ></span>
      </a>
    </li>
    <li>
      <a href="#contacto" class="relative group transition">
        <span class="text-white group-hover:text-cyan-300 transition">
          Contacto
        </span>
        <span
          class="absolute left-0 -bottom-1 w-0 h-[2px] 
          bg-gradient-to-r from-cyan-400 to-blue-500 
          transition-all duration-300 group-hover:w-full 
          group-hover:shadow-[0_0_10px_rgba(0,255,255,0.8)]"
        ></span>
      </a>
    </li>
  </ul>
</nav>
